// Font size
$font-size: 18px;
$font-size_base: 16px;

// Font family
$font-family: 'Rubik', Arial, sans-serif;
$font-family_secondary: 'Monoton', serif;

// Line height:
$line-height: 1.4;
$line-height_small: 1.1;
$line-height_large: 1.8;

// Size
$size: 1px;
$size_small: 450px;
$size_medium: 768px;
$size_large: 1024px;
$size_wide: 1200px;
$size_full: 1400px;

// Color
$color-white: white;
$color-white_dark: #f7f7f7;
$color-grey: #ddd;
$color-grey_dark: #aaa;
$color-black: #111;
$color-green_light: #5efbbb;

// Transition
$transition-timing: cubic-bezier(0.19, 1, 0.22, 1);

// Gutter
$gutter: 20px;