*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;

    @include media-up($size_medium) {
        font-size: 130%;
    }

    @include media-up($size_full) {
        font-size: 160%;
    }
}

body {
    font-family: $font-family;
    font-size: rem($font-size);
    line-height: $line-height;
    color: $color-black;
    background: $color-white_dark;
}

a {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}