.footer {
    font-size: rem(12px);
}

.footer__newsletter {
    background: $color-white;
    // padding: rem($gutter);
}

.footer__usp {
    margin-top: 1px;
    background: $color-white;
    // padding: rem($gutter);
}

.footer__menu {
    // padding: rem($gutter);
}

.footer__social {
    border-top: 1px solid $color-grey;
    // padding: rem($gutter) rem($gutter) 0;
}