.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 ($gutter);
    background: $color-grey;
    overflow: hidden;
    width: rem(70px);

    @include media-up($size_small) {
        width: rem(90px);
    }

    @include media-up($size_medium) {
        width: rem(190px);
    }
}

.header__video {
    position: absolute;
    z-index: 10;
    height: 100%;
    opacity: 0.6;
}

.header__logo {
    text-align: center;
    word-break: break-all;
    line-height: $line-height_small;
    font-family: $font-family_secondary;
    font-size: rem(35px);
    text-transform: uppercase;
    color: $color-white;
    position: relative;
    z-index: 20;
    color: $color-green_light;
    text-decoration: none;
    transition: text-shadow 0.5s $transition-timing;

    &:hover {
        text-decoration: none;
        text-shadow: rem(10px) rem(10px) 0 rgba($color-green_light, 0.1);
    }
}

.header__scroll-top {
    position: absolute;
    bottom: rem(20px);
    z-index: 30;
    left: 50%;
    transition: opacity 0.5s $transition-timing, transform 0.5s $transition-timing;
    opacity: 0;
    transform: translate(-50%, rem(30px));
}

.header__scroll-top_active {
    opacity: 1;
    transform: translate(-50%, 0);
}