.main-menu {

}

.main-menu__list {
    list-style: none;
    padding: 0 rem(10px);
    margin: 0;
    display: flex;
}

.main-menu__link {
    color: $color-black;
    text-decoration: none;
    padding: rem(10px);
    display: block;

    &:hover {
        text-decoration: none;
    }

    ~ .main-menu__list {
        display: none;
    }
}