.newsletter {
    max-width: rem(300px);
    margin: 0 auto;
}

.newsletter__header {
    font-size: rem(18px);
}

.newsletter__form {
    display: flex;
    align-items: flex-start;
}

.newsletter__input {
    flex-grow: 1;
}